<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ESAYCAM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5BB739661CD82D910084C624</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BB7397F1CD82D920084C624</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BB7398A1CD82D920084C624</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
